---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>What's this?</h2>
    <p>
        We are a community of sites made by users of a textboard called danger/u/. This community of sites is held together using something called a webring - a relic of the old internet. The premise is simple. Each site has a bit of code somewhere on it that has three buttons. Previous, random, and next. If you continually click the next (or previous) button, you will travel around to each of the participant's websites, until you have arrived back at the initial website, completing the ring.
    </p>

    <h2>How to join</h2>
    <p>
        If you are a member of the danger/u/ community, and would like to join the webring, <a href="{{ meta.repo }}/compare">open a pull request</a> 
        and supply the name and URL of your site. If you publish a RSS feed, you can provide that as well.
    </p>
    <p>
        If you don't have a Github account, you can also use the form below to sign up.
    </p>

    {% include 'signupform.njk' %}

    <h2>Add the banner</h2>
    <p>
        Once you've joined the ring, copy this code snippet into your site:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <p>
        It will render this banner that links to the other members:
    </p>

    {% include 'snippet.njk' %}
</div>
